# sqlite pymysql 及sqlalchmey操作远程数据库的方法

## sqlite and magic method

In [1]:
 %load_ext sql

In [2]:
%sql sqlite://

In [ ]:
%%sql
CREATE TABLE EMPLOYEE(firstname varchar(50),lastname varchar(50));
INSERT INTO EMPLOYEE VALUES('Tom','Mitchell');
INSERT INTO EMPLOYEE VALUES('Jack','Ryan');

In [ ]:
 %sql SELECT * from EMPLOYEE;

In [ ]:
%sql sqlite:///socioeconomic.db

In [ ]:
import pandas

In [ ]:
df = pandas.read_csv('jcxq-k9xf.csv')
df.tail()

In [ ]:
# df.to_sql("chicago_socioeconomic_data", con, if_exists='replace', index=False,method="multi")

In [ ]:
df.columns

In [ ]:
%sql SELECT * FROM chicago_socioeconomic_data limit 5;

In [ ]:
%sql SELECT COUNT(*) FROM chicago_socioeconomic_data;

In [ ]:
%sql SELECT * FROM chicago_socioeconomic_data ;

In [ ]:
%sql sqlite://

In [ ]:
 %sql SELECT * from EMPLOYEE;

In [ ]:
%sql sqlite:///socioeconomic.db

In [ ]:
%sql SELECT * FROM chicago_socioeconomic_data;

### DATA CLEANSING

In [111]:
df1=pandas.read_csv('jcxq-k9xf.csv')
# figure out if there's null value
df1.isnull().sum()

ca                                             0
community_area_name                            0
percent_of_housing_crowded                     0
percent_households_below_poverty               0
percent_aged_16_unemployed                     0
percent_aged_25_without_high_school_diploma    0
percent_aged_under_18_or_over_64               0
per_capita_income_                             0
hardship_index                                 0
dtype: int64

In [112]:
#drop null rows
df1.dropna(inplace=True)

### start a connect with database

In [113]:
con1 = sqlite3.connect('test1.db')

### write into test1 database

In [116]:
df1.to_sql("chicago_socioeconomic_data_in_test1", con1, if_exists='replace', index=False,method="multi")

78

### test and check the data

In [117]:
%sql sqlite:///test1.db

In [118]:
%sql SELECT * FROM chicago_socioeconomic_data_in_test1 LIMIT 5;

   sqlite://
   sqlite:///socioeconomic.db
 * sqlite:///test1.db
Done.

[(1, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5, 23939, 39),
 (2, 'West Ridge', 7.8, 17.2, 8.8, 20.8, 38.5, 23040, 46),
 (3, 'Uptown', 3.8, 24.0, 8.9, 11.8, 22.2, 35787, 20),
 (4, 'Lincoln Square', 3.4, 10.9, 8.2, 13.4, 25.5, 37524, 17),
 (5, 'North Center', 0.3, 7.5, 5.2, 4.5, 26.2, 57123, 6)]

## csv reader and pysql

In [ ]:
import csv, sqlite3

In [ ]:
import pymysql

### build connect with the remote/local database

In [ ]:
con = pymysql.connect(
    host="bj-cynosdbmysql-grp-66hkroj8.sql.tencentcdb.com",
    port=22602,
    user="test",
    passwd="!abcABC123",
    database="tecent_db_test")
cur = con.cursor()

### check if table already exists and drop it

In [ ]:

# cur.execute("""DROP TABLE  IF EXISTS chicago_socioeconomic_data """)

### create a new table

In [ ]:

# cur.execute("""CREATE TABLE chicago_socioeconomic_data 
#                 (ca float, 
#                 community_area_name varchar(255),
#                 percent_of_housing_crowded float,
#                 percent_households_below_poverty float,
#                 percent_aged_16_unemployed float,
#                 percent_aged_25_without_high_school_diploma float,
#                 percent_aged_under_18_or_over_64 float,
#                 per_capita_income_ float,
#                 hardship_index float,
#                 PRIMARY KEY (ID))
#                 """)

### read csv file skip the first row(header),change to tuple and  append in a list

In [ ]:
fileName= 'jcxq-k9xf.csv'
with open(fileName,'r') as csv_file:
    csv_data =csv.reader(csv_file,delimiter=',')
    next(csv_data)
    all_value = []
    for row in csv_data:
        value = tuple(row)
        all_value.append(value)

### inser values into the target table

In [ ]:

# sql_statement = "INSERT INTO `chicago_socioeconomic_data` VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s)"
# cur.executemany(sql_statement,all_value)
# con.escape_string(sql_statement)
# #close the connection to the database.
# con.commit()
# cur.close()
# print("Done")

In [ ]:
con = pymysql.connect(
    host="bj-cynosdbmysql-grp-66hkroj8.sql.tencentcdb.com",
    port=22602,
    user="test",
    passwd="!abcABC123",
    database="tecent_db_test")
cur = con.cursor()

In [ ]:
cur.execute("""select * from chicago_socioeconomic_data""")
res = cur.fetchall()
print(res)

## 推荐 sqlalchemy 与pandas结合（清洗数据后写入远程mysql服务器）

In [120]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\anaconda\lib\site-packages (2.0.21)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\anaconda\lib\site-packages (from sqlalchemy) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\anaconda\lib\site-packages (from sqlalchemy) (2.0.1)

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [122]:
import pandas as pd
from sqlalchemy import create_engine, types

In [126]:
# "mysql+pymysql://<username>:<password>@<host>:<port>/<dbname>"
engine = create_engine('mysql+pymysql://test:!abcABC123@bj-cynosdbmysql-grp-66hkroj8.sql.tencentcdb.com:22602/tecent_db_test') # enter your password and database names here

df = pd.read_csv("jcxq-k9xf.csv",sep=',',quotechar='\'',encoding='utf8') # Replace Excel_file_name with your excel sheet name
df.to_sql('chicago_socioeconomic_data_sqlalchemy',con=engine,index=False,if_exists='replace') # Replace Table_name with your sql table name

78

### 建立connection

In [129]:
con_by_alchemy = engine.connect()

### query statement需要wrap在text里面才能执行

In [136]:
from sqlalchemy import text

In [137]:
con_by_alchemy.execute(text("select * from chicago_socioeconomic_data_sqlalchemy")).fetchall()

[(1, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5, 23939, 39),
 (2, 'West Ridge', 7.8, 17.2, 8.8, 20.8, 38.5, 23040, 46),
 (3, 'Uptown', 3.8, 24.0, 8.9, 11.8, 22.2, 35787, 20),
 (4, 'Lincoln Square', 3.4, 10.9, 8.2, 13.4, 25.5, 37524, 17),
 (5, 'North Center', 0.3, 7.5, 5.2, 4.5, 26.2, 57123, 6),
 (6, 'Lake View', 1.1, 11.4, 4.7, 2.6, 17.0, 60058, 5),
 (7, 'Lincoln Park', 0.8, 12.3, 5.1, 3.6, 21.5, 71551, 2),
 (8, 'Near North Side', 1.9, 12.9, 7.0, 2.5, 22.6, 88669, 1),
 (9, 'Edison Park', 1.1, 3.3, 6.5, 7.4, 35.3, 40959, 8),
 (10, 'Norwood Park', 2.0, 5.4, 9.0, 11.5, 39.5, 32875, 21),
 (11, 'Jefferson Park', 2.7, 8.6, 12.4, 13.4, 35.5, 27751, 25),
 (12, 'Forest Glen', 1.1, 7.5, 6.8, 4.9, 40.5, 44164, 11),
 (13, 'North Park', 3.9, 13.2, 9.9, 14.4, 39.0, 26576, 33),
 (14, 'Albany Park', 11.3, 19.2, 10.0, 32.9, 32.0, 21323, 53),
 (15, 'Portage Park', 4.1, 11.6, 12.6, 19.3, 34.0, 24336, 35),
 (16, 'Irving Park', 6.3, 13.1, 10.0, 22.4, 31.6, 27249, 34),
 (17, 'Dunning', 5.2, 10.6, 10.0, 16.2, 33.6, 26282, 28),
 (18, 'Montclaire', 8.1, 15.3, 13.8, 23.5, 38.6, 22014, 50),
 (19, 'Belmont Cragin', 10.8, 18.7, 14.6, 37.3, 37.3, 15461, 70),
 (20, 'Hermosa', 6.9, 20.5, 13.1, 41.6, 36.4, 15089, 71),
 (21, 'Avondale', 6.0, 15.3, 9.2, 24.7, 31.0, 20039, 42),
 (22, 'Logan Square', 3.2, 16.8, 8.2, 14.8, 26.2, 31908, 23),
 (23, 'Humboldt park', 14.8, 33.9, 17.3, 35.4, 38.0, 13781, 85),
 (24, 'West Town', 2.3, 14.7, 6.6, 12.9, 21.7, 43198, 10),
 (25, 'Austin', 6.3, 28.6, 22.6, 24.4, 37.9, 15957, 73),
 (26, 'West Garfield Park', 9.4, 41.7, 25.8, 24.5, 43.6, 10934, 92),
 (27, 'East Garfield Park', 8.2, 42.4, 19.6, 21.3, 43.2, 12961, 83),
 (28, 'Near West Side', 3.8, 20.6, 10.7, 9.6, 22.2, 44689, 15),
 (29, 'North Lawndale', 7.4, 43.1, 21.2, 27.6, 42.7, 12034, 87),
 (30, 'South Lawndale', 15.2, 30.7, 15.8, 54.8, 33.8, 10402, 96),
 (31, 'Lower West Side', 9.6, 25.8, 15.8, 40.7, 32.6, 16444, 76),
 (32, 'Loop', 1.5, 14.7, 5.7, 3.1, 13.5, 65526, 3),
 (33, 'Near South Side', 1.3, 13.8, 4.9, 7.4, 21.8, 59077, 7),
 (34, 'Armour Square', 5.7, 40.1, 16.7, 34.5, 38.3, 16148, 82),
 (35, 'Douglas', 1.8, 29.6, 18.2, 14.3, 30.7, 23791, 47),
 (36, 'Oakland', 1.3, 39.7, 28.7, 18.4, 40.4, 19252, 78),
 (37, 'Fuller Park', 3.2, 51.2, 33.9, 26.6, 44.9, 10432, 97),
 (38, 'Grand Boulevard', 3.3, 29.3, 24.3, 15.9, 39.5, 23472, 57),
 (39, 'Kenwood', 2.4, 21.7, 15.7, 11.3, 35.4, 35911, 26),
 (40, 'Washington Park', 5.6, 42.1, 28.6, 25.4, 42.8, 13785, 88),
 (41, 'Hyde Park', 1.5, 18.4, 8.4, 4.3, 26.2, 39056, 14),
 (42, 'Woodlawn', 2.9, 30.7, 23.4, 16.5, 36.1, 18672, 58),
 (43, 'South Shore', 2.8, 31.1, 20.0, 14.0, 35.7, 19398, 55),
 (44, 'Chatham', 3.3, 27.8, 24.0, 14.5, 40.3, 18881, 60),
 (45, 'Avalon Park', 1.4, 17.2, 21.1, 10.6, 39.3, 24454, 41),
 (46, 'South Chicago', 4.7, 29.8, 19.7, 26.6, 41.1, 16579, 75),
 (47, 'Burnside', 6.8, 33.0, 18.6, 19.3, 42.7, 12515, 79),
 (48, 'Calumet Heights', 2.1, 11.5, 20.0, 11.0, 44.0, 28887, 38),
 (49, 'Roseland', 2.5, 19.8, 20.3, 16.9, 41.2, 17949, 52),
 (50, 'Pullman', 1.5, 21.6, 22.8, 13.1, 38.6, 20588, 51),
 (51, 'South Deering', 4.0, 29.2, 16.3, 21.0, 39.5, 14685, 65),
 (52, 'East Side', 6.8, 19.2, 12.1, 31.9, 42.8, 17104, 64),
 (53, 'West Pullman', 3.3, 25.9, 19.4, 20.5, 42.1, 16563, 62),
 (54, 'Riverdale', 5.8, 56.5, 34.6, 27.5, 51.5, 8201, 98),
 (55, 'Hegewisch', 3.3, 17.1, 9.6, 19.2, 42.9, 22677, 44),
 (56, 'Garfield Ridge', 2.6, 8.8, 11.3, 19.3, 38.1, 26353, 32),
 (57, 'Archer Heights', 8.5, 14.1, 16.5, 35.9, 39.2, 16134, 67),
 (58, 'Brighton Park', 14.4, 23.6, 13.9, 45.1, 39.3, 13089, 84),
 (59, 'McKinley Park', 7.2, 18.7, 13.4, 32.9, 35.6, 16954, 61),
 (60, 'Bridgeport', 4.5, 18.9, 13.7, 22.2, 31.3, 22694, 43),
 (61, 'New City', 11.9, 29.0, 23.0, 41.5, 38.9, 12765, 91),
 (62, 'West Elsdon', 11.1, 15.6, 16.7, 37.0, 37.7, 15754, 69),
 (63, 'Gage Park', 15.8, 23.4, 18.2, 51.5, 38.8, 12171, 93),
 (64, 'Clearing', 2.7, 8.9, 9.5, 18.8, 37.6, 25113, 29),
 (65, 'West Lawn', 5.8, 14.9, 9.6, 33.6, 39.6, 16907, 56),
 (66, 'Chicago Lawn', 7.6, 27.9, 17.1, 31.2, 40.6, 13231, 80),
 (67, 'West Englewood', 4.8, 34.4, 35.9, 26.3, 40.7, 11317, 89),
 (68, 'Englewood', 3.8, 46.6, 28.0, 28.5, 42.5, 11888, 94),
 (69, 'Greater Grand Crossing', 3.6, 29.6, 23.0, 16.5, 41.0, 17285, 66),
 (70, 'Ashburn', 4.0, 10.4, 11.7, 17.7, 36.9, 23482, 37),
 (71, 'Auburn Gresham', 4.0, 27.6, 28.3, 18.5, 41.9, 15528, 74),
 (72, 'Beverly', 0.9, 5.1, 8.0, 3.7, 40.5, 39523, 12),
 (73, 'Washington Height', 1.1, 16.9, 20.8, 13.7, 42.6, 19713, 48),
 (74, 'Mount Greenwood', 1.0, 3.4, 8.7, 4.3, 36.8, 34381, 16),
 (75, 'Morgan Park', 0.8, 13.2, 15.0, 10.8, 40.3, 27149, 30),
 (76, "O'Hare", 3.6, 15.4, 7.1, 10.9, 30.3, 25828, 24),
 (77, 'Edgewater', 4.1, 18.2, 9.2, 9.7, 23.8, 33385, 19),
 (78, 'CHICAGO', 4.7, 19.7, 12.9, 19.5, 33.5, 28202, 18)]

* [Error 1265 (01000) data truncated for column at row - MySQL](https://stackoverflow.com/questions/14764080/error-1265-data-truncated-for-column-when-trying-to-load-data-from-txt-file) 
* [Python TypeError: not enough arguments for format string](https://stackoverflow.com/questions/11146190/python-typeerror-not-enough-arguments-for-format-string)
* [Load CSV data into MySQL in Python](https://stackoverflow.com/questions/10154633/load-csv-data-into-mysql-in-python)
* [VIDEO MYSQL Tutorial: Efficiently Importing Large CSV Files into MySQL with Python and Pandas](https://www.youtube.com/watch?v=5IU7PZZ0LM8)
* [VIDEO Read data from CSV and insert into Database | Python Tutorial ](https://www.youtube.com/watch?v=LNgg_YJ29OY)
* [GOOD!!! Working with csv files in Python](https://www.geeksforgeeks.org/working-csv-files-python/)
* [Skip the header of a file with Python's CSV reader](https://evanhahn.com/python-skip-header-csv-reader/)